/* global */
/* CSS custom properties */
/* define scope as root, then use var(--...) notation */
:root {
  --dark-navy: #222831;
  --light-navy: #30475e;
  --grey: #dddddd;
  --dark-grey: #3b3b3b;
  --reddish: #f05454;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68, 68, 68);
  background-color: var(--dark-navy);
  margin: 0;
}
