.entry-container {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.item-container {
  flex: 3;
  padding: 12px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--reddish);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(204, 204, 204, 0.419);
}

.date-container {
  flex: 1;
  padding: 12px;
  text-align: center;
  color: #fff;
  background-color: var(--light-navy);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(204, 204, 204, 0.419);
}
