/* CSS custom properties */
/* define scope as root, then use var(--...) notation */
:root {
  --dark-navy: #222831;
  --light-navy: #30475e;
  --grey: #dddddd;
  --dark-grey: #3b3b3b;
  --reddish: #f05454;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-control {
  padding: 20px;
}

.form-control.error label {
  color: var(--reddish);
}

/* descendent selectors */
.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 24px;
}

button {
  font: inherit;
  border: none;
  border-radius: 5px;
  background: var(--light-navy);
  color: #fff;
  padding: 6px 22px;
  cursor: pointer;
}

button:hover,
button:active {
  background: var(--dark-navy);
}

button:focus {
  outline: none;
}
