.title {
  font-size: 38px;
  text-transform: uppercase;
}

.greeting {
  color: var(--dark-navy);
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.choose {
  color: var(--reddish);
}

.form-control {
  position: relative;
  padding: 20px;
}

/* descendent selectors */
.form-control label {
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 24px;
}

.check-in-button {
  border-radius: 50%;
  padding: 60px;
}
