.title {
  font-size: 38px;
  text-transform: uppercase;
}

.accent {
  color: var(--reddish);
}

.greeting {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: var(--reddish);
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.choose {
  font-weight: bold;
  display: block;
}

.form-control {
  position: relative;
  padding: 20px;
}

/* descendent selectors */
.form-control label {
  text-transform: uppercase;
  font-size: 24px;
  color: var(--reddish);
  display: block;
  margin-bottom: 12px;
}

.form-control input {
  width: 100%;
  padding: 12px 5px;
  margin-bottom: 90px;
}

.check-in-button {
  width: 100%;
  font-size: 24px;
  padding: 10px;
}
