/* ***************** CHECKED-IN SCREEN *****************  */

.title {
  font-size: 38px;
  text-transform: uppercase;
}

/* LOGOUT LINK */
.logout {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 38px;
  font-size: 14px;
  font-style: italic;
  color: var(--dark-navy);
}

/* BUTTON */
.stats {
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  color: var(--reddish);
}

.stats:hover {
  text-decoration: underline;
  background-color: transparent;
}

/* ***************** ENTRIES SCREEN *****************  */

/* adjust <Card> to stack vertically, also size */
.card-adjust {
  height: 700px;
  width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  /* TODO make sticky */
  position: sticky;
  width: 100%;
}

.header h1 {
  text-align: center;
  color: var(--reddish);
}

/* adjust <hr> styling */
.header hr {
  width: 100%;
  size: 12px;
  border: 0.5px solid var(--dark-navy);
  margin-bottom: 34px;
}

.entries-container {
  width: 100%;
}
